version: 2
jobs:
  checkout_code:
    docker:
      - image: circleci/node:10.16.3
    working_directory: ~/lyrichords
    steps:
      - checkout
      - save_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/lyrichords
  build:
    docker:
      - image: circleci/node:10.16.3
    working_directory: ~/lyrichords
    steps:
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Restoring dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
  test:
    docker:
      - image: circleci/node:10.16.3
    working_directory: ~/lyrichords
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Restoring dependencies
          command: npm install
      - run:
          name: Running test
          command: npm run test:unit
  publish:
    environment:
      - IMAGE_NAME: mariehmai/lyrichords
      - IMAGE_TAG: 0.1.0-web
    docker:
      - image: circleci/buildpack-deps:stretch
    working_directory: ~/lyrichords
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build Docker image
          command: |
            docker build -t $IMAGE_NAME:$IMAGE_TAG-$CIRCLE_BUILD_NUM .
      - run:
          name: Publish Docker image to Docker Hub
          command: |
            echo "$DOCKER_PASS" | docker login -u $DOCKER_USER --password-stdin
            docker push $IMAGE_NAME:$IMAGE_TAG-$CIRCLE_BUILD_NUM
workflows:
  version: 2
  build_test:
    jobs:
      - checkout_code
      - build:
          requires:
            - checkout_code
      - test:
          requires:
            - build
  build_publish:
    jobs:
      - checkout_code
          filters:
            branches:
              only: master
      - publish:
          filters:
            branches:
              only: master
          requires:
            - checkout_code
